/* Estilos gerais */
body {
    /* font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee; */
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* Estilos do botão */
#changeBackgroundBtn {
    display: block;
    margin: 5px auto;
    padding: 20px 20px;
    background-color: #ffff1c;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#changeBackgroundBtn:hover {
    background-color: #ff0000;
}


header {
    font-family: Mixed;
    background-color: #4c00ff;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    width: 100%;
}

#columns-container {
    display: flex;
}
.descBox{
    display: block;
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
    width: 180px;
    border-radius: 5px;

}
.column {
    background-color: #2ae3ff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(222, 120, 245, 0.1);
    padding: 15px;
    width: 200px;
    margin-right: 20px;
}

.task {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.add-task {
    background-color: #f9f9f9;
    padding: 2px;
    width: 200px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 10px;
    color: #555;
}

/* #cor-button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#cor-button:hover {
    background-color: #000000;
} */
